
<!DOCTYPE html>
<html lang="en"
	  class="light-style layout-navbar-fixed layout-menu-fixed layout-menu-collapsed"
	  dir="ltr"
	  data-theme="theme-default"
	  data-assets-path="~/Assets/assets/"
	  data-template="vertical-menu-template" style="overflow:hidden">
<head>
	<title>@ViewBag.title</title>
	<link rel="icon" href="~/Content/images/title.png" type="image/x-icon">
	<style type="text/css">

		.form-select {
			color: #000 !important;
		}

		.form-control {
			color: #000 !important;
		}

		.k-grid table {
			color: #000 !important;
		}

		.k-input {
			color: #000 !important;
		}

		.nav-pills .nav-link:not(.active, .disabled) {
			color: #000 !important;
		}

		.k-textbox > input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input{
			height: 2em !important;
			font-size: 13px !important;
			line-height: 17px !important;
		}

		.k-grid-filter.k-state-active {
			background-color: #574edf !important;
		}

		.k-tooltip-content {
			white-space: nowrap !important;
			font-size: 12px !important;
		}

		.k-calendar .k-link.k-nav-fast {
			color: #fff !important;
		}

		.k-grid td {
			border-style: solid;
			border-width: 0 0 0 1px;
			padding: 0.4em 0.6em;
			overflow: hidden;
			line-height: 1.6em;
			vertical-align: middle;
			text-overflow: ellipsis;
		}

		.layout-navbar {
			height: 1.875rem !important;
		}

		.k-state-selected {
			color: coral !important;
		}

		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: #e4e4e4;
			color: white;
			text-align: center;
			z-index: 2;
			height: 30px;
		}

		.k-grid td {
			white-space: nowrap;
			background-color: #eceef1;
			border-color: inherit;
			/* text-align: center; */
		}

		#overlayy {
			background-color: transparent;
			z-index: 999;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: none;
		}

		li {
			display: block;
		}

		.ms-options {
			min-height: 100px;
			max-height: 100px;
		}

		ul {
			padding-left: 0rem;
		}

		.navbar-nav > .home-menu .home-image {
			float: left;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			margin-right: 10px;
			margin-top: -2px 0px;
			background-color: blue;
		}

		#loader {
			position: absolute;
			background: url('http://sampsonresume.com/labs/pIkfp.gif') no-repeat center center;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}



		div#spinner {
			width: 100%;
			height: 100%;
			top: 0px;
			left: 0px;
			position: fixed;
			display: block;
			opacity: 0.6;
			background: #aaaaaa url('../Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png');
			z-index: 1006;
			text-align: center;
			display: none;
		}

			div#spinner img {
				position: absolute;
				/*width: 100px;
																																																height: 100px;*/
				top: 40%;
				left: 42%;
				opacity: 4.5;
				z-index: 1007;
			}

			div#spinner span {
				font-family: Arial Tahoma;
				font-size: large;
				font-weight: bold;
				opacity: 4.5;
				margin-top: 100px;
				color: white;
			}


		.k-grid td {
			white-space: nowrap;
			border-style: solid;
			border-width: 1px 0px 0px 1px !important;
			padding: -3.6em 5.6em;
			overflow: hidden;
			line-height: -1.4em;
			vertical-align: middle;
			text-overflow: ellipsis;
			border-color: #80808040;
		}


		/*.k-grid.k-widget {
															height: 360px;
															overflow-y: auto;
														}*/

		.k-i-arrow-s {
			background-position: -161px -209px !important;
		}

		.k-combobox .k-select, .k-picker-wrap .k-select, .k-numeric-wrap .k-select {
			border-style: solid;
			border-width: 0 0 0 1px;
			border-color: inherit;
			background-image: none, -webkit-linear-gradient(top, rgb(135, 46, 123) 0, rgb(135, 46, 123) 100%);
		}
	</style>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="description" content="" />
	<link href="~/Content/css/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
	<link href="~/Content/css/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
	<link href="~/Content/css/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="~/Content/css/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
	<link href="~/Content/css/dist/css/dms.css" rel="stylesheet" />
	@*	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
	*@

	<link href="~/Content/kendo1/2015.1.318/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />

	<link href="~/Content/kendo1/2015.1.318/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/kendo1/2015.1.318/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/css/jquery-ui-datepicker.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/kendo1/2015.1.318/jquery.min.js"></script>
	<script src="~/Scripts/kendo1/2015.1.318/jszip.min.js"></script>
	<script src="~/Scripts/kendo1/2015.1.318/kendo.all.min.js"></script>
	<script src="~/Scripts/kendo1/2015.1.318/kendo.aspnetmvc.min.js"></script>
	<link href="~/Content/kendo1/2015.1.318/kendo.default.min.css" rel="stylesheet" type="text/css" />
	<link href="~/Content/kendo1/2015.1.318/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="~/content/kendo1/2015.1.318/kendo.common.min1.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/kendo.modernizr.custom.js"></script>
	<script src="~/Scripts/jquery-ui-datepicker.js" type="text/javascript"></script>
	<script src="~/Content/css/dist/js/adminlte.min.js"></script>
	@*<link rel="icon" type="image/x-icon" href="~/Assets/assets/img/favicon/favicon.ico" />*@
	<link rel="stylesheet" href="~/Assets/assets/vendor/fonts/boxicons.css" />
	<link rel="stylesheet" href="~/Assets/assets/vendor/fonts/fontawesome.css" />
	<link rel="stylesheet" href="~/Assets/assets/vendor/fonts/flag-icons.css" />
	<link rel="stylesheet" href="~/Assets/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="~/Assets/assets/vendor/css/rtl/theme-default.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="~/Assets/assets/css/demo.css" />
	<link rel="stylesheet" href="~/Assets/assets/css/styles.css" />
	<link rel="stylesheet" href="~/Assets/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
	<link rel="stylesheet" href="~/Assets/assets/vendor/libs/typeahead-js/typeahead.css" />
	<link rel="stylesheet" href="~/Assets/assets/vendor/libs/apex-charts/apex-charts.css" />
	<link href="~/css/site.css" rel="stylesheet" type="text/css" />
	<script src="~/Assets/assets/vendor/js/helpers.js"></script>
	<script src="~/Assets/assets/js/config.js"></script>
	<script src="~/Assets/assets/js/jquery.multiselect.js"></script>
	<link rel="stylesheet" href="~/Assets/assets/css/jquery.multiselect.css" />
	<script src="~/Scripts/jquery-confirm.min.js"></script>
	<link href="~/Content/css/jquery-confirm.min.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/Assets/assets/css/jquery.multiselect.css" />
	@*<script src="~/scripts/kendo1/2015.1.318/kendo.mobile.min.js"></script>*@
	@*<link href="~/css/kendo.common.min.css" rel="stylesheet" />*@
	@*<link href="~/css/kendo.default.min.css" rel="stylesheet" />*@

</head>

<body>

	<div id="spinner">
		<img src="~/Content/images/spinner.gif" /> <br /><span>Please Wait...</span>
	</div>
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
				<div class="app-brand demo">
					<a href="index.html" class="app-brand-link">
						<img class="logo" src="~/Content/images/backgroundnew.jpg">
					</a>
					<a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
						<i class="bx bx-chevron-left bx-sm align-middle"></i>
					</a>
				</div>
				<div class="menu-inner-shadow"></div>
				<ul class="menu-inner py-1" id="menus">
				</ul>
			</aside>
			<footer class="footer">
				<div>
					<img src="../Assets/images/footerlogo_new.png" style="float: right;margin-right: 23px;margin-top: -10px; height: 31px;   object-fit: contain;">
					<h6 class="copyright" style="color:#000;font-family:inherit;font-size:14px;margin-left: 12%;">Copyright © Flexicode Technologies (P) Ltd </h6>
					<img src="../Assets/images/footerlogo.png" style="float: left;margin-top: -39px;margin-left: 109px;height: 28px;visibility: hidden;">

				</div>
			</footer>
			<!-- / Menu -->
			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->
				<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
					 id="layout-navbar">

					<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
						<a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
							<i class="bx bx-menu bx-sm"></i>
						</a>
					</div>
					<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

						<center>  <h5 class="card-header" id="navhead" style="margin-left: 38.5vw !important;">Dashboard</h5></center>
						<ul class="navbar-nav flex-row align-items-center ms-auto">
							<li class="nav-item lh-1 me-1">
								<i style="cursor:pointer;" class="bx bxs-home" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" onclick="window.location.href='../Home/Index'" data-bs-original-title="Home" aria-label="Home"></i>
							</li>
							<li class="nav-item dropdown-language dropdown lh-1 me-1">
								<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
									<i class="bx bxs-cog" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Settings" aria-label="Settings" aria-describedby="tooltip32655"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-end" id="menusmaintance">
								</ul>
							</li>
							<li class="nav-item dropdown-language dropdown lh-1 me-1">
								<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
									<i class="bx bxs-user-plus" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="User Admin" aria-label="User Admin" aria-describedby="tooltip229672"></i>
								</a>

								<ul class="dropdown-menu dropdown-menu-end" id="adminmenu">
								</ul>
							</li>
							<li class="nav-item navbar-dropdown dropdown-user dropdown">
								<a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
									<div class="avatar avatar-online">
										<i class='bx bxs-group' data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile"></i>
									</div>
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									<li style="margin-bottom:-22px;">
										<a class="dropdown-item" href="#">
											<div class="d-flex">
												<div class="flex-shrink-0 me-3" style="margin-top: 20px;">
													<center>
														<div class="avatar avatar-online">
															<img src="~/Assets/images/profile.jpg" class="w-px-40 h-auto rounded-circle"
																 style="width: 50px !important; height: 50px !important;" /><span class="align-middle" id="userdata"></span>
														</div>

													</center>
												</div>
											</div>
										</a>
									</li>
									<li>
										<div class="dropdown-divider"></div>
									</li>
									<li>
										<a class="dropdown-item" href="#">
											<i class="bx bx-user me-2"></i>
											<span class="align-middle" id="roledata">Super Admin</span>
										</a>
									</li>
									<li>
										<div class="dropdown-divider"></div>
									</li>
									<li>
										<a class="dropdown-item" href="../Login/ChangePassword" onclick="showchangepasswordscreen();">
											<i class="bx bxs-lock-alt me-2"></i>
											<span class="align-middle">Change Password</span>
										</a>
										<a class="dropdown-item" href="#" onclick="return Signout();">
											<i class="bx bx-power-off me-2"></i>
											<span class="align-middle">Log Out</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>
				<div class="container-xxl" style="padding-right: 20px;margin-bottom: 4px;padding-left: 20px;border-radius:20px;margin-top:4px;">
					<div class="row" style="background: #fff;border-radius: 15px;margin-right: 8px;margin-left: 8px;margin-top:-32px;margin-bottom:15px" id="contextdiv">
						<div class="col-sm-12" style="margin-left: 10px;">
							<div class="row" id="collapse_div">
								<div class="col-sm-8">
									<label for="orglvl1valO" id="orglvlNavigate" style="height:5px;color:#ff0000;font-size:15px;font-weight:bold">Set Context</label>
								</div>
								<div class="col-sm-4">
									<img src="../Assets/images/plus.png" id="collapse_img" style="float: right; height: 15px; width: 15px; margin: 3px; display: block;">
									<img src="../Assets/images/minus.png" id="collapse_img2" style="float: right; height: 15px; width: 15px; margin: 3px; display: none;">
								</div>
							</div>
							<div class="row" id="collapse_org" style="margin-bottom: 22px; display: none;">
								<div class="col-sm-4" style="width: 29%;">
									<center><label for="orglvl1valO" id="orglvl1lblO">Entity</label></center>
									<select id="orglvl1valO" class="form-select form-control" onchange="EntityChange(this)">
									</select>
								</div>
								<div class="col-sm-4" style="width:29%;">
									<center><label for="orglvl2valO" id="orglvl2lblO">Department</label></center>
									<select id="orglvl2valO" class="form-select form-control" onchange="DepartmentChange(this)">
									</select>
								</div>
								<div class="col-sm-4" style="width: 29%;">
									<center><label for="orglvl3valO" id="orglvl3lblO">Unit</label></center>
									<select id="orglvl3valO" class="form-select form-control">
									</select>
								</div>
								@*<div class="col-sm-3" style="width: 23%;">
								<center><label for="orglvl4valO" id="orglvl4lblO">Level 4</label></center>
								<select id="orglvl4valO" class="form-select form-control">
								</select>
								</div>*@
								<div class="col-sm-12">
									<button type="button" id="btn_transferorg" class="btn btn-sm btn-primary" onclick="storeheader()" style="float: right;margin-top: -33px;margin-right: 28px;">Apply</button>
									<img src="../Assets/images/login-refresh.png" id="refreshOrg" style="float: right;margin-top: -30px;height: 21px;width: 21px;margin-right: 3px;" onclick="loaddynamiccolumns('R')">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="setcont" tabindex="-1" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
						<div class="modal-content">
							<div class="modal-header">
							</div>
							<div class="modal-body" style="margin-top: -26px;">
								<div class="row">
									<div class="col-sm-4">
									</div>
									<div class="col-sm-4">
										<h4 style="font-size: 15px;text-align: center;color: #1a9950;font-weight: 600;" id="userdata1"></h4>
									</div>
									<div class="col-sm-4">
										<a onclick="return Signout();"><i class="bx bx-x cursor-pointer" style="color: #000000;float:right"></i></a>
									</div>
								</div>
								<hr style="margin-top:-1px; width:100%;">
								<div class="row">
									<div class="col-sm-3">
										<center><label for="orglvl1valO" id="orglvl1lblO">Entity</label></center>
										<select id="orglvl1valO1" class="form-select form-control" onchange="EntityChange(this)">
										</select>
									</div>
									<div class="col-sm-3" style="width:29%;">
										<center><label for="orglvl2valO" id="orglvl2lblO">Department</label></center>
										<select id="orglvl2valO1" class="form-select form-control" onchange="DepartmentChange(this)">
										</select>
									</div>
									<div class="col-sm-3" style="width: 29%;">
										<center><label for="orglvl3valO" id="orglvl3lblO">Unit</label></center>
										<select id="orglvl3valO1" class="form-select form-control">
										</select>
									</div>
									<div class="col-sm-12">
										<button type="button" id="btn_transferorg" class="btn btn-sm btn-primary" onclick="storeheadernew()" style="float: right;margin-top: -33px;margin-right: 28px;">Apply</button>
										@*<img src="../Assets/images/login-refresh.png" id="refreshOrg" style="float: right;margin-top: -30px;height: 21px;width: 21px;margin-right: 3px;" onclick="loaddynamiccolumns('R')">*@
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="content-wrapper">
					@RenderBody()

				</div>
			</div>

		</div>

		<div class="layout-overlay layout-menu-toggle"></div>

		<div class="drag-target"></div>
	</div>
	<script src="~/Assets/assets/vendor/libs/popper/popper.js"></script>
	<script src="~/Assets/assets/vendor/js/bootstrap.js"></script>
	<script src="~/Assets/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="~/Assets/assets/vendor/libs/hammer/hammer.js"></script>
	<script src="~/Assets/assets/vendor/js/menu.js"></script>
	<script src="~/Assets/assets/vendor/libs/apex-charts/apexcharts.js"></script>
	<script src="~/Assets/assets/js/main.js"></script>
	<script src="~/Assets/assets/js/dashboards-analytics.js"></script>
	@*	<script async defer src="https://buttons.github.io/buttons.js"></script>
	*@
	<script>

		function openNav() {
			$(document).ready(function () {
				$('#layout-menu').toggleClass('active');
				$('[data-toggle="tooltip"]').tooltip();
				if (sessionStorage.getItem("level1txt") != null) {
					var myLabel = document.getElementById("orglvlNavigate");
					myLabel.innerHTML = sessionStorage.getItem("level1txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level2txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level3txt");
				}
			});
		}
	</script>

	<script>
		$(document).ready(function () {
			$('.modal').attr('data-bs-backdrop', 'static');
			$('.modal').attr('data-bs-keyboard', 'false');
			var usergid = 0;
			var usercode = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Admin/setcontextread',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ user_gid: usergid, user_code: usercode }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					$("#orglvl1valO").empty();
					$("#orglvl1valO").append($('<option>', {
						value: "",
						text: "  Select  "
					}));
					$.each(result, function (index, item) {
						if (item.parent_code == "QCD_L1") {
							$("#orglvl1valO").append($('<option>', {
								value: item.master_code,
								text: item.master_name
							}));
						}
					});
					setcon();
					//lastlogin();
				}
			});

			var usercode = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Admin/getmenu',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ user_code: usercode }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					var main_menu = result.Menu;
					var sub_menu = result.SubMenu;
					var strmenu = "";
					var adminmenu = "";
					var maintancemenu = "";
					strmenu = ' <li class="menu-item">';
					$.each(main_menu, function (mkey, mvalue) {
						if (mvalue.menu_gid > 2) {
							strmenu += '<li class="menu-item"><a class="menu-link menu-toggle" title="' + mvalue.menu_name + '"> <i class="' + mvalue.icon_path + '" data-bs-toggle="tooltip" data-bs-placement="bottom" title="' + mvalue.menu_name + '"></i> <span>' + mvalue.menu_name + '</span></a>';
							strmenu += '<ul class="menu-sub">';
							$.each(sub_menu, function (skey, svalue) {
								if (mvalue.menu_gid == svalue.parent_menu_code) {
									if (svalue.menu_code != "" && svalue.menu_url != "") {
										strmenu += '<li class="menu-item"><a class="menu-link" href="' + svalue.menu_url + '" onclick="header_title(\'' + svalue.menu_name + '\',\'' + svalue.menu_code + '\',\'' + svalue.menu_code + '\');" title="' + svalue.menu_name + '"> <i class="' + svalue.UrlIcon + '"></i> <span>' + svalue.menu_name + '</span> </a></li>';
									}
									else {
										if (svalue.menu_code == "" && svalue.menu_url == "") {
											strmenu += '<li class="dropdown-item"><a href="#" onclick="header_title(\'' + svalue.menu_name + '\',\'' + svalue.menu_code + '\',\'' + svalue.menu_code + '\');" title="' + svalue.menu_name + '"> <i class="' + svalue.UrlIcon + '"></i> <span>' + svalue.menu_name + '</span><i class="fa fa-angle-left  pull-right"></i> </a>';

										}
									}
								}
							});

							strmenu += '</ul></li>';
						}
						if (mvalue.menu_gid == 1) {
							$.each(sub_menu, function (skey, svalue) {
								if (mvalue.menu_gid == svalue.parent_menu_code) {
									if (svalue.menu_code != "" && svalue.menu_url != "") {
										adminmenu += '<li class="menu-item"><a class="dropdown-item"  data-language="fr" href="' + svalue.menu_url + '" ><i class="bx bx-user fs-4 me-1" > </i><span> ' + svalue.menu_name + ' </span></a>';
									}
								}
							});

							adminmenu += '</ul></li>';
						}
						if (mvalue.menu_gid == 2) {
							$.each(sub_menu, function (skey, svalue) {
								if (mvalue.menu_gid == svalue.parent_menu_code) {
									if (svalue.menu_code != "" && svalue.menu_url != "") {
										maintancemenu += '<li class="menu-item"><a class="dropdown-item"  data-language="fr" href="' + svalue.menu_url + '" ><span> ' + svalue.menu_name + ' </span></a>';
									}
								}
							});

							maintancemenu += '</ul></li>';
						}
					});
					$("#menusmaintance").append(maintancemenu)
					$("#adminmenu").append(adminmenu);
					$("#menus").append(strmenu);
					strmenu = "";
				}
			});
			//if (sessionStorage.getItem("level1txt") != null) {
			//	var myLabel = document.getElementById("orglvlNavigate");
			//	myLabel.innerHTML = sessionStorage.getItem("level1txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level2txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level3txt");
			//}

		});
		var maxorglvl;
		$(document).ajaxStart(function () {
			$('#loader').show();
			showProgress();
			getlocalStorage('recon_userdetail');
		});

		$(document).ajaxStop(function () {
			hideProgress();
		});

		$(document).ajaxError(function () {
			hideProgress();
		})
		$("#collapse_div").click(function () {
			if ($('#collapse_org').css('display') == 'none') {
				$('#collapse_org').show();
				$('#collapse_img2').css('display', 'block');
				$('#collapse_img').css('display', 'none');
				if ($("#orglvl1valO").val() == "") {
					$("#orglvl1valO").val(sessionStorage.getItem("level1"));
					jQuery('#orglvl1valO').trigger("change");
					$("#orglvl2valO").val(sessionStorage.getItem("level2"));
					jQuery('#orglvl2valO').trigger("change");
					$("#orglvl3valO").val(sessionStorage.getItem("level3"));
				}
			} else {
				$('#collapse_org').css('display', 'none');
				$('#collapse_img2').css('display', 'none');
				$('#collapse_img').css('display', 'block');

			}
		});

		function setcon() {
			var usergid = 0;
			var usercode = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Admin/getcontext',
				dataType: 'json',
				data: JSON.stringify({ user_code: usercode }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					if (result.length > 0) {
						$("#orglvl1valO").val(result[0].master_syscode);
						jQuery('#orglvl1valO').trigger("change");
						$("#orglvl2valO").val(result[1].master_syscode);
						jQuery('#orglvl2valO').trigger("change");
						$("#orglvl3valO").val(result[2].master_syscode);
						sessionStorage.setItem("level1", $("#orglvl1valO").val());
						sessionStorage.setItem("level2", $("#orglvl2valO").val());
						sessionStorage.setItem("level3", $("#orglvl3valO").val());
						sessionStorage.setItem("level1txt", $("#orglvl1valO :selected").text());
						sessionStorage.setItem("level2txt", $("#orglvl2valO :selected").text());
						sessionStorage.setItem("level3txt", $("#orglvl3valO :selected").text());
						if (sessionStorage.getItem("reconname") != null || sessionStorage.getItem("reconname") != '') {
							var myLabel = document.getElementById("orglvlNavigate");
							myLabel.innerHTML = sessionStorage.getItem("level1txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level2txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level3txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("reconname");
						}
						if (sessionStorage.getItem("level1txt") != null && sessionStorage.getItem("reconname") == null) {
							var myLabel = document.getElementById("orglvlNavigate");
							myLabel.innerHTML = sessionStorage.getItem("level1txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level2txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level3txt");
						}
						if ($("#navhead").text() == "Dataset" || $("#navhead").text() == "QCD Master" || $("#navhead").text() == "Custom Report Templete" || $("#navhead").text() == "Data Deletion" || $("#navhead").text() == "User Creation" || $("#navhead").text() == "Roles") {
							var myLabel = document.getElementById("orglvlNavigate");
							myLabel.innerHTML = sessionStorage.getItem("level1txt");
							$("#orglvl2valO").prop("disabled", true);
							$("#orglvl3valO").prop("disabled", true);
						}
						if ($("#navhead").text() == "Recon" || $("#navhead").text() == "Connectors" || $("#navhead").text() == "Pipeline" || $("#navhead").text() == "Recon-Between A/cs" || $("#navhead").text() == "Recon - Within A/cs") {
							var myLabel = document.getElementById("orglvlNavigate");
							myLabel.innerHTML = sessionStorage.getItem("level1txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level2txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level3txt");
						}
					}
					else {
						$("#setcont").modal('show');
						var usergid = 0;
						var usercode = sessionStorage.getItem("usrname");
						$.ajax({
							type: "POST",
							url: '../Admin/setcontextread',
							dataType: 'json',
							async: false,
							data: JSON.stringify({ user_gid: usergid, user_code: usercode }),
							contentType: 'application/json; charset=utf-8',
							success: function (response) {
								var result = JSON.parse(response);
								$("#orglvl1valO1").empty();
								$("#orglvl1valO1").append($('<option>', {
									value: "",
									text: "  Select  "
								}));
								$.each(result, function (index, item) {
									if (item.parent_code == "QCD_L1") {
										$("#orglvl1valO1").append($('<option>', {
											value: item.master_code,
											text: item.master_name
										}));
									}
								});
							}
						});

					}
				}
			});
		}

		var spinnerVisible = false;
		function getconcatval(mastercode) {

			var master = "";
			if (mastercode != null) {
				master = "'" + mastercode + "'";
			}
			return master;
		}

		function showProgress() {

			if (!spinnerVisible) {
				$("div#spinner").fadeIn("fast");
				spinnerVisible = true;
			}
		}
		function hideProgress() {

			if (spinnerVisible) {
				var spinner = $("div#spinner");
				spinner.stop();
				spinner.fadeOut("fast");
				spinnerVisible = false;
			}
		}
		function kendodate_format() {
			var kendate= getconfigvalue("kendo_date_format");
			var kendatetime = getconfigvalue("kendo_datetime_format");
			sessionStorage.setItem("kendatetime", kendatetime);
			$(".cusDate").kendoDatePicker({
				value: new Date(),
				format: kendate
			});
			$(".cusDate1").kendoDatePicker({
				value: new Date(),
				format: "yyyy-MM-dd"
			});

		}

		function Signout() {
			sessionStorage.setItem("level1", "");
			sessionStorage.setItem("level2", "");
			sessionStorage.setItem("level3", "");
			sessionStorage.setItem("level1txt", "");
			sessionStorage.setItem("level2txt", "");
			sessionStorage.setItem("level3txt", "");
			sessionStorage.setItem("reconcode", "");
			sessionStorage.setItem("reconname", "");
			sessionStorage.setItem("usrname", "");
			
			setlocalStorage("lastlogindb","");
			$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8",
				data: {},
				dataType: "html",
				url: '@Url.Action("Signout", "Login")',
				success: function (data) {
					var url = '@Url.Action("Login", "Login")'
					window.location.href = url;
				},
				error: function (data) {
					$.alert({
						title: 'Recon',
						content: 'Error' + data,
						type: 'red',
					});
				}
			});
		}
		function showchangepasswordscreen() {
			var url = '@Url.Action("ChangePassword", "Login")'
			window.location.href = url;
		}
		function lastlogin() {			
			var usercode = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Login/lastlogin',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ user_code: usercode }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					var lastlog = JSON.parse(localStorage.getItem("lastlogindb"));
					var dbdate = result[0].date;
					if (lastlog != dbdate) {
						$.alert({
							title: 'Recon',
							content: 'You have been disconnected bacause another login was made. ',
							type: 'Red',
							onClose: function () {
								sessionStorage.clear();
								localStorage.clear();
								Signout();
							}
						});
						
					}
				}
			})

		}


		function bindmultiselectvalues(arr, _id) {
			if (arr != null) {
				$("#" + _id).empty();
				for (var t = 0; t < arr.length; t++) {
					var opt = new Option(arr[t].name, arr[t].value);
					$('#' + _id).append(opt);
					if (arr[t].checked) {
						$(opt).attr('selected', true);
					}
				}
			}
		}

		//mandatory for grid combo
		function combo_editor_man(container, cmbid, datasource, datafield, code_datafield, grid_id) {
			$('<input  id="' + cmbid + '" data-text-field="desc" data-value-field="desc" data-bind="value:' + datafield + '" name ="' + datafield + '"/>').appendTo(container).kendoComboBox({
				autoBind: false,
				filter: "contains",
				dataSource: datasource,
				change: function (e) {
					var cmb_value = this.value();
					if (cmb_value && this.selectedIndex == -1) {
						this.value("");
					}
					//else{FF
					var cmb_var = $("#" + grid_id).data("kendoGrid");
					var selectedItem = cmb_var.dataItem(cmb_var.select());
					var combobox_data = $("#" + cmbid).data("kendoComboBox");
					if (combobox_data != undefined && combobox_data.selectedIndex == -1) {
						selectedItem[datafield] = "";
						selectedItem[code_datafield] = "";
					}
					else {
						selectedItem[datafield] = combobox_data.dataItem(combobox_data.selectedIndex).desc;
						selectedItem[code_datafield] = combobox_data.dataItem(combobox_data.selectedIndex).code;
					}
				}
			});

			$("<span class='k-invalid-msg' data-for='" + datafield + "'></span>").appendTo(container);
		}
		function setDefaultValues(e) {

			if (e.type != "click" || e.type == undefined) {

				if (e.action == "" || e.action == undefined) {
					for (var i = 0; i < e.sender._data.length; i++) {
						var rows = e.sender.tbody.children();
						var row = $(rows[i]);
						row.css('backgroundColor', 'lightgreen')
					}
				}
			}
		}
		function btn_onClick(event) {
			click_btn_val = "";
			if (event != "") {
				if (event == "Create") {
					click_btn_val = "Create";
				}
				else if (event == "Edit") {
					click_btn_val = "Edit";
				}
				else if (event == "View") {
					click_btn_val = "View";
				}
				else
					click_btn_val = "";
				setlocalStorage('btn_clk_val', click_btn_val);
				//document.location = form_list_url;
			}
		}
		function setlocalStorage(key, value) {
			var data = "";
			data[key] = value[0];
			localStorage.setItem(key, JSON.stringify(value));
		}
		function getlocalStorage(key) {
			if (key == "getlocalStorage") {
				var data = localStorage.getItem(key);

				return JSON.parse(data)
			} else {
				var guid = localStorage.getItem(key);
				return JSON.parse(guid);
			}
		}
		function getconfigvalue(selectElement) {
			var result="";
			var selectElement = selectElement;
			$.ajax({
				type: "POST",
				url: '../Common/getconfigvalue',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ in_config_name: selectElement }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var res = JSON.parse(response);
					result=res[0].out_config_value
				}
			});
			return result;
		}
		function storeheader() {
			if ($("#orglvl1valO").val() != "" || $("#orglvl2valO").val() != "" || $("#orglvl3valO").val() != "") {
				sessionStorage.setItem("level1", "");
				sessionStorage.setItem("level2", "");
				sessionStorage.setItem("level3", "");
				sessionStorage.setItem("level1txt", "");
				sessionStorage.setItem("level2txt", "");
				sessionStorage.setItem("level3txt", "");
				sessionStorage.setItem("reconcode", "");
				sessionStorage.setItem("reconname", "");
				sessionStorage.setItem("level1", $("#orglvl1valO").val());
				sessionStorage.setItem("level2", $("#orglvl2valO").val());
				sessionStorage.setItem("level3", $("#orglvl3valO").val());
				sessionStorage.setItem("level1txt", $("#orglvl1valO :selected").text());
				sessionStorage.setItem("level2txt", $("#orglvl2valO :selected").text());
				sessionStorage.setItem("level3txt", $("#orglvl3valO :selected").text());
				location.reload();
				var myLabel = document.getElementById("orglvlNavigate");
				myLabel.innerHTML = sessionStorage.getItem("level1txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level2txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level3txt");
				var txtusername = JSON.parse(localStorage.getItem("recon_userdetail"));
				var user_code = txtusername.user_code;
				var level_mapping = $("#orglvl1valO").val() + "#" + "QCD_L1" + "$" + $("#orglvl2valO").val() + "#" + "QCD_L2" + "$" + $("#orglvl3valO").val() + "#" + "QCD_L3";
				$.ajax({
					type: "POST",
					url: '../Admin/applycontextsave',
					dataType: 'json',
					data: JSON.stringify({ user_code: user_code, level_mapping: level_mapping }),
					contentType: 'application/json; charset=utf-8',
					success: function (response) {
						var result = JSON.parse(response);
						var data = result[0];
						if (data.out_result == "1") {
							$.alert({
								title: 'Recon',
								content: data.out_msg,
								type: 'green',
							});
						} else {
							$.alert({
								title: 'Recon',
								content: data.out_msg,
								type: 'red',
							});
						}
					},
					error: function (er) {
						alert(er)
						console.log(er)
					}

				});
			}
			else {
				$.alert({
					title: 'Recon',
					content: "Select Level Value",
					type: 'green',
				});
			}
		}
		function EntityChange(selectElement) {
			$("#orglvl3valO").val("");
			$("#orglvl3valO1").val("");
			var selectedValue = selectElement.value;
			var usergid = 0;
			var usercode = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Admin/setcontextread',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ user_gid: usergid, user_code: usercode }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					$("#orglvl2valO").empty();
					$("#orglvl2valO").append($('<option>', {
						value: "",
						text: "  Select  "
					}));
					$("#orglvl2valO1").empty();
					$("#orglvl2valO1").append($('<option>', {
						value: "",
						text: "  Select  "
					}));
					$.each(result, function (index, item1) {
						if (item1.parent_code == "QCD_L2" && item1.depend_code == selectedValue) {
							$("#orglvl2valO").append($('<option>', {
								value: item1.master_code,
								text: item1.master_name
							}));
						}
					});
					$.each(result, function (index, item1) {
						if (item1.parent_code == "QCD_L2" && item1.depend_code == selectedValue) {
							$("#orglvl2valO1").append($('<option>', {
								value: item1.master_code,
								text: item1.master_name
							}));
						}
					});
				}
			});
		}
		function DepartmentChange(selectElement) {
			var selectedValue = selectElement.value;
			var usergid = 0;
			var usercode = sessionStorage.getItem("usrname");
			$.ajax({
				type: "POST",
				url: '../Admin/setcontextread',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ user_gid: usergid, user_code: usercode }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					var result = JSON.parse(response);
					$("#orglvl3valO").empty();
					$("#orglvl3valO").append($('<option>', {
						value: "",
						text: "  Select  "
					}));
					$("#orglvl3valO1").empty();
					$("#orglvl3valO1").append($('<option>', {
						value: "",
						text: "  Select  "
					}));
					$.each(result, function (index, item2) {
						if (item2.parent_code == "QCD_L3" && item2.depend_code == selectedValue) {
							$("#orglvl3valO").append($('<option>', {
								value: item2.master_code,
								text: item2.master_name
							}));
						}
					});
					$.each(result, function (index, item2) {
						if (item2.parent_code == "QCD_L3" && item2.depend_code == selectedValue) {
							$("#orglvl3valO1").append($('<option>', {
								value: item2.master_code,
								text: item2.master_name
							}));
						}
					});
				}
			});
		}
		function rolevalidatescreen(selectElement) {
			var result = {};
			$.ajax({
				type: "POST",
				url: '../Common/rolevalidate',
				dataType: 'json',
				async: false,
				data: JSON.stringify({ in_screen_code: selectElement }),
				contentType: 'application/json; charset=utf-8',
				success: function (response) {
					result = response;
				}
			});
			return result;
		}
		function setColor(rows, resultData) {
			for (var i = 0; i < rows.length; i++) {
				var row = $(rows[i]);
				row.css('backgroundColor', 'black');
			}
			var child_del = $('.k-grid-Delete').children('span:first');
			$('.k-grid-Delete').html(child_del);

			var child_copy = $('.k-grid-Copy').children('span:first');
			$('.k-grid-Copy').html(child_copy);
		}
		var txtusername = JSON.parse(localStorage.getItem("recon_userdetail"));
		document.getElementById("userdata").textContent = txtusername.user_name;
		document.getElementById("userdata1").innerHTML = "Welcome " + txtusername.user_name + "<br>" + "Please Select Context"
		sessionStorage.setItem("usrname", txtusername.user_code);
		sessionStorage.setItem("lastlogindb", txtusername.lastlogin);
		document.getElementById("roledata").textContent = txtusername.usergroup_desc;
		function storeheadernew() {
			if ($("#orglvl1valO1").val() != "" && $("#orglvl2valO1").val() != "" && $("#orglvl3valO1").val() != "") {
				sessionStorage.setItem("level1", "");
				sessionStorage.setItem("level2", "");
				sessionStorage.setItem("level3", "");
				sessionStorage.setItem("level1txt", "");
				sessionStorage.setItem("level2txt", "");
				sessionStorage.setItem("level3txt", "");
				sessionStorage.setItem("level1", $("#orglvl1valO1").val());
				sessionStorage.setItem("level2", $("#orglvl2valO1").val());
				sessionStorage.setItem("level3", $("#orglvl3valO1").val());
				sessionStorage.setItem("level1txt", $("#orglvl1valO1 :selected").text());
				sessionStorage.setItem("level2txt", $("#orglvl2valO1 :selected").text());
				sessionStorage.setItem("level3txt", $("#orglvl3valO1 :selected").text());
				location.reload();
				var myLabel = document.getElementById("orglvlNavigate");
				myLabel.innerHTML = sessionStorage.getItem("level1txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level2txt") + "&nbsp;&nbsp;/&nbsp;&nbsp;" + sessionStorage.getItem("level3txt");
				var txtusername = JSON.parse(localStorage.getItem("recon_userdetail"));
				var user_code = txtusername.user_code;
				var level_mapping = $("#orglvl1valO1").val() + "#" + "QCD_L1" + "$" + $("#orglvl2valO1").val() + "#" + "QCD_L2" + "$" + $("#orglvl3valO1").val() + "#" + "QCD_L3";
				$.ajax({
					type: "POST",
					url: '../Admin/applycontextsave',
					dataType: 'json',
					data: JSON.stringify({ user_code: user_code, level_mapping: level_mapping }),
					contentType: 'application/json; charset=utf-8',
					success: function (response) {
						var result = JSON.parse(response);
						var data = result[0];
						if (data.out_result == "1") {
							$.alert({
								title: 'Recon',
								content: data.out_msg,
								type: 'green',
							});
						} else {
							$.alert({
								title: 'Recon',
								content: data.out_msg,
								type: 'red',
							});
						}
					},
					error: function (er) {
						alert(er)
						console.log(er)
					}

				});
			} else {
				$.alert({
					title: 'Recon',
					content: "Invalid",
					type: 'red',
				});
			}
		}
		
		var sessionTimer;
		// Reset the timer function
		function resetSessionTimer() {		
			clearTimeout(sessionTimer);		
			sessionTimer = setTimeout(function () {		
				sessionStorage.clear();
				localStorage.clear();				
				window.location.href = '@Url.Action("session_expires", "Login")';
			//}, 60000); 
			}, 1000*30*60); // 300000 milliseconds = 30 minutes
		}
		// Call resetSessionTimer() whenever there is a user interaction event
		document.addEventListener("mousemove", resetSessionTimer);
		document.addEventListener("keypress", resetSessionTimer);
		resetSessionTimer();

		function isNumberKey(evt) {
			var charCode = (evt.which) ? evt.which : event.keyCode
			if (charCode != 46 && charCode > 31
				&& (charCode < 48 || charCode > 57))
				return false;

			return true;
		}
		function item_rate(container, field, maxlen, no_decimals) {
			var formatStr = "#";
			var dec_str = "######";
			if (no_decimals > 0)
				formatStr = formatStr + "." + dec_str.substr(0, no_decimals);
			$('<input maxlength="' + maxlen + '"  name="' + field + '"/>')
				.appendTo(container)
				.kendoNumericTextBox({
					min: 0,
					format: "{:n2}",
					spinners: false
				});
		}
	</script>
</body>
</html>
